body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: jinkaiFont;
}

.content-global {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
    width: 60%;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #57BF7D;
}

.post-line {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.post-title {
    text-decoration: none;
    font-size: 22px;
    color: #000;
}

.post-summary {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 26px;
    color: #333;
}

.post-date {
    color: #666;
    font-size: 16px;
    text-align: right;
}

.slogan {
    font-size: 26px;
    text-align: center;
    color: #666;
    margin-bottom: 100px;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.category {
    color: #666;
    font-size: 18px;
    height: 16px;
    position: relative;
    background: #DDD;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-total-counter {
    display: flex;
    justify-content: flex-end;
    color: #666;
    font-size: 16px;
    margin-right: 20px;
}

.char-counter {
    color: #666;
    font-size: 16px;
    margin-right: 10px;
}

.right-info-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
